@using WebApplication2.Models;
@{
    ViewBag.Titulo = "Erro";
    ViewBag.Name = "Erro";
}


<p>@Model</p>
<a asp-controller="Home" asp-action="Index"><button class="botaoPadrao">Voltar</button></a>
