@using WebApplication2.Models;
@model Ligacao;
@{
    ViewBag.Titulo = "Formulário";

}

<div class="container-fluid">

    <form class="form-Cadastrar" method="post">

        <div>
            <input type="hidden" asp-for="Id" />
        </div>

        <div class="row">
            <div class="col">

                <div class="mb-3">
                    <label class="col-sm-5 col-form-label" asp-for="NomeAluno">Nome: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="NomeAluno" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.NomeAluno)
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="col-sm-5 col-form-label" asp-for="Telefone">Telefone: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Telefone" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Telefone)
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="col-sm-5 col-form-label" asp-for="Assunto">Assunto:</label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Assunto" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Assunto)
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block mb-2">
            <button asp-controller="Ligacao" asp-action="Adicionar" class="btn btn-success"><i class="fa-solid fa-pen"></i> Adicionar</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>


</div>