@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication1
@using WebApplication1.Models
@model WebApplication1.Models.Resposta

<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <p>Qual deseja excluir?</p>
        <form method="post">
            <label asp-for="Name">Seu nome: </label>
            <input asp-for="Name"/>

            <label asp-for="Email">Seu e-mail:</label>
            <input asp-for="Email"/>

            <input type="submit" value="Excluir" />
        </form>
        <a asp-action="Index">Cancelar</a>
    </body>
</html>
