<!DOCTYPE html>
<html>
    <head>
        <title>Inicio</title>
    </head>
    <body>
        <p>Cadastre seus dados!</p>
        <a asp-action="Formulario">Cadastrar</a>
        <a asp-action="Resultado">Listar Resultados</a>
        <a asp-action="Excluir">Excluir Resposta</a>
    </body>
</html>
