<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/styleDisciplina.css" />
    <link rel="stylesheet" href="~/css/style~/css/styleAluno.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Name"]</h1>
    <hr />
    @RenderBody()
</body>

</html>