@using WebApplication2.Models;
@model Aluno;
@{
    ViewBag.Titulo = "Formulário";
    ViewBag.Name = "Editar Aluno";
}

<div class="container-fluid">

    <p>Aluno @Model.Nome excluido, deseja restaurar?</p>

    <a asp-controller="Home" asp-route-id="@Model.Id" asp-action="AtualizarInativo" class="btn btn-success"><i class="fa-solid fa-pen"></i>SIM</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fa-solid fa-pen"></i>NÃO</a>

    <a asp-action="Index" class="btn btn-secondary">Voltar</a>


</div>



