@using WebApplication2.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Erro</title>
</head>
<body>
    <h1>Controle de Alunos</h1>
    <hr />
    <p>@Model</p>
    <a asp-action="Index"><button>Voltar</button></a>
</body>
</html>