@using WebApplication2.Models;
@model Aluno;
@{
    ViewData["Title"] = "Excluir";
    ViewData["Name"] = "Excluir Aluno";
}

<p>Você deseja excluir o Aluno @Model.Name?</p>
<form method="post">
    <input type="hidden" asp-for="Id" readonly="readonly" />
    <button asp-route-id="@Model.Id" asp-action="ExcluirAluno" class="Excluir">Excluir</button>
</form>
<a asp-controller="Home" asp-action="ListarAlunos"><button class="botaoPadrao">Cancelar</button></a>

