@using WebApplication2.Models;
@model Aluno;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Início</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="https://kit.fontawesome.com/d58dc20345.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Formulário</h1>
    <hr />

    <form method="post">
    
        <input type="hidden" asp-for="Id" />        
        <label asp-for="Name">Nome: </label>
        <input asp-for="Name" />
        <label asp-for="Curso">Curso: </label>
        <input asp-for="Curso" />
        <label asp-for="Email">E-mail: </label>
        <input asp-for="Email" />
        
        <label asp-for="Idade">Idade: </label>
        <input asp-for="Idade" />
        <button asp-action="Adicionar" class="Editar"><i class="fa-solid fa-pen"></i> Adicionar</button>
    </form>

    <a asp-action="Index"><button class="botaoPadrao">Voltar</button></a>
</body>

</html>
