@using WebApplication2.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Início</title>
</head>
<body>
    <h1>Controle de Alunos</h1>
    <hr />
    <a asp-action="Listar">Acessar Alunos</a>
</body>

</html>
