@using WebApplication2.Models;
@{
    ViewBag.Titulo = "Início";
    ViewBag.Name = "Controle Escolar";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-center">

    <a asp-controller="Home" asp-action="ListarAlunos" class="btn btn-secondary">Acessar Alunos</a>
    <a asp-controller="Home" asp-action="Formulario" class="btn btn-secondary">Adicionar Aluno</a>
    <a asp-controller="Materia" asp-action="ListarMaterias" class="btn btn-secondary">Acessar Disciplinas</a>
    <a asp-controller="Materia" asp-action="Formulario" class="btn btn-secondary">Adicionar Disciplinas</a>
    <a asp-controller="Livro" asp-action="ListarLivros" class="btn btn-secondary">Acessar Livros</a>
    <a asp-controller="Livro" asp-action="Formulario" class="btn btn-secondary">Adicionar Livros</a>
    <a asp-controller="Ligacao" asp-action="ListarLigacoes" class="btn btn-secondary">Acessar Ligações</a>
    <a asp-controller="Ligacao" asp-action="Formulario" class="btn btn-secondary">Adicionar Ligação</a>
</div>
