@using WebApplication2.Models;
@{
    ViewData["Title"] = "Início";
    ViewData["Name"] = "Controle Escolar";
}

<a asp-controller="Home" asp-action="ListarAlunos" class="botaoPadrao">Acessar Alunos</a>
<a asp-controller="Home" asp-action="Formulario" class="botaoPadrao">Adicionar Aluno</a>
<a asp-controller="Materia" asp-action="ListarMaterias" class="botaoPadrao">Acessar Disciplinas</a>
<a asp-controller="Materia" asp-action="Formulario" class="botaoPadrao">Adicionar Disciplinas</a>

