@using WebApplication2.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Início</title>
</head>
<body>
    <h1>Controle de Alunos</h1>
    <hr />
    <a asp-action="Listar" class="botaoPadrao">Acessar Alunos</a>
    <a asp-action="Formulario" class="botaoPadrao">Adicionar Aluno</a>
</body>

</html>
