@using WebApplication2.Models;
@model List<Aluno>;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Listagem</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h1>Controle de Alunos</h1>
    <hr />
    <a asp-action="Formulario"><button>Adicionar Aluno</button></a>
    <div class="table">

        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Curso</th>
                <th>Ação</th>
            </tr>

            @foreach (var alunos in Model)
            {                
                <tr>
                    <td>@alunos.Id</td>
                    <td>@alunos.Name</td>
                    <td>@alunos.Curso</td>
                    <td>
                        <a asp-route-id="@alunos.Id" asp-action="FormularioEditar">Editar</a>

                    </td>

                </tr>
            }
        </table>
    </div>
    <a asp-action="Index"><button>Voltar</button></a>
</body>

</html>
