@using WebApplication2.Models;
@model Livro;
@{
    ViewBag.Titulo = "Formulário";
    ViewBag.Name = "Editar Livro";
}

<div class="container-fluid">

    <p>Livro @Model.Nome excluida, deseja restaurar?</p>

    <a asp-controller="Livro" asp-route-id="@Model.Id" asp-action="AtualizarInativo" class="btn btn-success"><i class="fa-solid fa-pen"></i>SIM</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fa-solid fa-pen"></i>NÃO</a>

    <a asp-action="Livro" asp-action="ListarLivros" class="btn btn-secondary">Voltar</a>

</div>



