@using WebApplication2.Models;
@model Livro;
@{
    ViewBag.Titulo = "Formulário";

}

<div class="container-fluid">

    <form class="form-Cadastrar" method="post">

        <div>
            <input type="hidden" asp-for="Id" />
        </div>

        <div class="row">
            <div class="col">

                <div class="mb-3">
                    <label class="col-sm-5 col-form-label" asp-for="Nome">Nome: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Nome" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Nome)
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="col-sm-5 col-form-label" asp-for="Preco">Preço: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Preco" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Preco)
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="col-sm-5 col-form-label" asp-for="QtdPag">Quantidade de páginas:</label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="QtdPag" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.QtdPag)
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block mb-2">
            <button asp-controller="Livro" asp-action="Adicionar" class="btn btn-success"><i class="fa-solid fa-pen"></i>@ViewBag.Botao</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>


</div>