@using WebApplication2.Models;
@{
    ViewData["Title"] = "Erro";
    ViewData["Name"] = "Erro";
}


<p>@Model</p>
<a asp-controller="Home" asp-action="Index"><button class="botaoPadrao">Voltar</button></a>
