@using WebApplication2.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Erro</title>
</head>
<body>
    <h1>Controle de Disciplinas</h1>
    <hr />
    <p>@Model</p>
    <a asp-controller="Home" asp-action="Index"><button class="botaoPadrao">Voltar</button></a>
</body>
</html>