@using WebApplication2.Models;
@model Materia;
@{
    ViewData["Title"] = "Excluir";
    ViewData["Name"] = "Excluir Disciplina";
}


<p>Você deseja excluir a Disciplina @Model.Name?</p>
<form method="post">
    <input type="hidden" asp-for="Id" readonly="readonly" />
    <button asp-route-id="@Model.Id" asp-controller="Materia" asp-action="Excluir" class="Excluir">Excluir</button>
</form>
<a asp-controller="Materia" asp-action="ListarMaterias"><button class="botaoPadrao">Cancelar</button></a>
