@using WebApplication2.Models;
@model Materia;
@{
    ViewBag.Titulo = "Formulário";
    ViewBag.Name = "Editar Disciplina";
}


<form class="form-Cadastrar" method="post">

    <div class="classInput">
        <input type="hidden" asp-for="Id" />
    </div>

    <div class="row">

        <div class="col">
            <div class="mb-3">
                <div class="classInput">
                    <label class="form-label" asp-for="Nome">Nome: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Nome" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Nome)
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <div class="classInput">
                    <label class="form-label" asp-for="Professor">Professor: </label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Professor" />
                    <div class="error-danger">
                        @Html.ValidationMessageFor(m => m.Professor)
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <div class="classInput">
                        <label class="form-label" asp-for="CargaHoraria">Carga Horária:</label>
                        <input class="form-control" id="formGroupExampleInput" asp-for="CargaHoraria" />
                        <div class="error-danger">
                            @Html.ValidationMessageFor(m => m.CargaHoraria)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">

                    <div class="classInput">
                        <label class="form-label" asp-for="Descricao">Descricao: </label>
                        <input class="form-control" id="formGroupExampleInput" asp-for="Descricao" />
                        <div class="error-danger">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block mb-2">
            <button asp-controller="Materia" asp-action="Adicionar" class="btn btn-success"><i class="fa-solid fa-pen"></i> Adicionar</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
</form>

