@using WebApplication2.Models;
@model Materia;
@{
    ViewBag.Titulo = "Formulário";
    ViewBag.Name = "Editar Disciplina";
}


<form class="form-Cadastrar" method="post">

    <div class="classInput">
        <input type="hidden" asp-for="Id" />
    </div>

    <div class="classInput">
        <label asp-for="Name">Nome: </label>
        <input asp-for="Name" />
        <div class="error-danger">
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="classInput">
        <label asp-for="Professor">Professor: </label>
        <input asp-for="Professor" />
        <div class="error-danger">
            @Html.ValidationMessageFor(m => m.Professor)
        </div>
    </div>
    <div class="classInput">
        <label asp-for="CargaHorario">Carga Horária:</label>
        <input asp-for="CargaHorario" />
        <div class="error-danger">
            @Html.ValidationMessageFor(m => m.CargaHorario)
        </div>
    </div>
    <div class="classInput">
        <label asp-for="Descricao">Descricao: </label>
        <input asp-for="Descricao" />
        <div class="error-danger">
        </div>
    </div>
    <button asp-controller="Materia" asp-action="Adicionar" class="Editar"><i class="fa-solid fa-pen"></i> Adicionar</button>
</form>

<a asp-controller="Home" asp-action="Index"><button class="botaoPadrao">Voltar</button></a>
