@{
    ViewData["Title"] = "Index";
}


<h1>Controle de Alunos</h1>
<hr />
<a asp-controller="Home" asp-action="ListarAlunos" class="botaoPadrao">Acessar Alunos</a>
<a asp-controller="Home" asp-action="Formulario" class="botaoPadrao">Adicionar Aluno</a>
<a asp-controller="Materia" asp-action="ListarMaterias" class="botaoPadrao">Acessar Materias</a>
<a asp-controller="Materia" asp-action="Formulario" class="botaoPadrao">Adicionar Materias</a>

